body {
  background-color: #f3f0ec;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 100%;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 40px;
  background-color: #ffffff;
  border-bottom: 2.5px solid rgba(0, 0, 0, .5);
  box-shadow: 10 5px 25px rgba(0, 0, 0, .5);
}

.App .container {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, .5);
}

.selectImage,
.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  padding: 0px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-right: 0px;
  border-width: 1px;
  border-radius: 0;
  width: 60%;
  height: 25px;
  position: relative;
  left: 294px;
  margin-bottom: 10px;
  box-shadow: 0 1px rgb(0 0 0 / 50%);
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .selectImage,
  .inputBox {
    left: 100px;
  }
}

.memes img {
  width: 400px;
  height: 450px;
  border: solid 5px #f3f0ec;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}

.memes span {
  position: absolute;
  top: 305px;
  left: 492px;
}

.memes .spanBottom {
  position: absolute;
  top: 700px;
  left: 492px;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .memes span {
    left: 25px;
  }

  .memes .spanBottom {
    left: 25px;
  }
}

.memes span,
.spanBottom {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32.64px;
  color: white;
  text-shadow: black -1px 0px, black 0px 1px, black 1px 0px, black 0px -1px;
}

.App button {
  background-color: #f3f0ec;
  justify-content: center;
  min-height: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3f0ec;
  padding: 24px 56px;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  vertical-align: middle;
  color: black;
  text-decoration: none;
  margin-bottom: 12px;
  min-width: 200px;
  padding: 10px 24px 14px;
  text-shadow: none;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgb(50 50 50 / 30%);
  cursor: pointer;
  -webkit-appearance: button;
}

.App button:hover {
  background-color: #4d90fe;
  justify-content: center;
  min-height: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #4d90fe;
  padding: 24px 56px;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  margin-bottom: 12px;
  min-width: 200px;
  padding: 10px 24px 14px;
  text-shadow: none;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgb(50 50 50 / 30%);
  cursor: pointer;
  -webkit-appearance: button;
}